.about {
    padding-top: 20px;
    padding-bottom: 43px;
}

.about__header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 30px;
    margin-bottom: 30px;
}

.about__content {
    background-color: rgb(23, 78, 118);
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.7;
    border-radius: 34px; /* Добавлено */
}


.about__content p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    padding-left: 12px;
    border-left: none;
    font-size: 22px;
    margin-bottom: 7px;
}

.about__header h2 {
  font-size: 2rem;
}